/* Style para a página principal */
*{
    list-style: none;
}
body{
    background-color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: lightskyblue;
    margin-top: 5%;
  
    border-bottom: solid 5px black;
}
body i{
    color: black;
}
#introdução{
    border: solid 10px black;
    border-radius: 15px;
    width: 70%;
    margin: auto;
    margin-bottom: 70px;
}
#imagem-introdução{
    padding: 7%;
    background-color: rgb(214, 233, 250);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8%;
}
#texto-introdução{
    background-color: azure;
    padding: 15px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    border: solid 5px black;
    border-radius: 10px;
    margin-bottom: 2%;
}
#html-css{
    margin-top: -10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 400%;
}
.fa-html5{
    color: rgb(255, 106, 0);
}
.fa-css3{
    color: rgb(85, 130, 214);
}
#imagem-introdução-estilo{
    border-radius: 50%;
    border: solid 5px black;
}
#navegação ul{
    width: 40%;
    margin: auto;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(214, 233, 250);
    border: solid 5px black;
    border-radius: 5px;
}
#navegação a{
    color: black;
}
main {
    background-color: azure;
    padding: 2%;
}
main i{
    display: flex;
    justify-content: center;
}
#principal{
    width: 80%;
    margin: auto;
    padding: 5%;
    font-size: large;
    background-color: rgb(214, 233, 250);
    border: solid 5px black;
    border-radius: 5px;
}
#principal i{
    margin-left: 15px;
}
#principal-primeiro{
    background-color: azure;
    padding: 3%;
    border: solid 5px black;
    border-radius: 5px;
    margin-top: 3%;
}
#principal-primeiro h3{
    background-color: rgb(214, 233, 250);
    border: solid 5px black;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 3%;
}
#principal-principal i{
    margin-left: 15px;
}
#lazeres tr{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7%;
}
#lazeres td, th{
    background-color: rgb(214, 233, 250);
}
#lazeres img{
    border-radius: 50%;
}
#lazeres i{
    margin-left: 15px;
}
.lazeres-título{
    border: solid 5px black;
    border-radius: 5px;
    width: 20%;
    padding: 15px;
    font-size: x-large;
}
.lazeres-detalhe{
    width: 50%;
    margin: auto;
    padding: 5%;
    border: solid 5px black;
    border-radius: 5px;
}
.lazeres-detalhe img{
    margin-top: 40px;
    border: solid 2px black;
}
#principal-segundo{
    background-color: azure;
    padding: 3%;
    border: solid 5px black;
    border-radius: 5px;
    margin-top: 3%;
}
#principal-segundo h3{
    background-color: rgb(214, 233, 250);
    border: solid 5px black;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 3%;
}
#principal-segundo i{
    margin-left: 15px;
}
#cursos-atuais ul{
    background-color: rgb(214, 233, 250);
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    border: solid 5px black;
    border-radius: 5px;
    padding: 5%;
}
#cursos-atuais h4{
    background-color: azure;
    border: solid 5px black;
    border-radius: 5px;
    padding: 20px;
}
#cursos-atuais img{
    border-radius: 50%;
    border: solid 2px black;
}
#cursos-atuais i{
    margin-left: 15px;
}
#curso-mec{
    display: flex;
    flex-direction: column;
}
#curso-dev{
    display: flex;
    flex-direction: column;
}
#principal-terceiro{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#principal-terceiro i{
    margin-left: 20px;
}
#conquistas{
    background-color: azure;
    border: solid 5px black;
    border-radius: 5px;
    padding: 25px;
    font-size: larger;
}
#conquistas li{
    border-left: solid 3px black;
    padding-left: 15px;
}
#conquistas i{
    margin-left: 15px;
}
#principal-quarto{
    margin-top: 10%;
}
#principal-quarto h3{
    background-color: azure;
    border: solid 5px black;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    text-align: center;
}
#tópico-três i{
    margin-left: 13px;
}
#comp-principal_1{
    background-color: azure;
    border: solid 5px black;
    border-radius: 5px;
    padding: 5%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
}
#comp-principal_1 ul{
    border-left: solid 3px black;
}
#competencias_1 table{
    border-left: solid 3px black;
    padding-left: 25px;
}
#comp-principal_2{
    background-color: azure;
    border: solid 5px black;
    border-radius: 5px;
    padding: 5%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
}
#comp-principal_2 ul{
    border-left: solid 3px black;
}
#competencias_2{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
#competencias_2 table{
    background-color: azure;
    border-left: solid 3px black;
}
#competencias_2 tr,th{
    background-color: azure;
}
footer{
    border-top: solid 5px black;
}
#final{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 7%;
}
#final h1{
    background-color: rgb(214, 233, 250);
    margin: auto;
}
#final i{
    margin-left: 15px;
}
#tópico-quatro{
    width: 60%;
    margin: auto;
    
}
#contatos-final{
    width: 40%;
    background-color: rgb(214, 233, 250);
    font-size: x-large;
    border: solid 5px black;
    border-radius: 5px;
    padding: 25px;
}
#contatos-final li{
    margin-bottom: 10px;
    border-left: solid 3px black;
    padding-left: 10px;
}
#contatos-final i{
    margin-left: 5px;
    margin-right: 10px;
    font-size: xx-large;
}
span{
    background-color: rgb(214, 233, 250);
    display: flex;
    justify-content: center;
    align-content: end;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: larger;
    border-top: solid 2px black;
}
span i{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.títulos{
    background-color: azure;
    width: 250px;
    padding: 2%;
    border: solid 5px black;
    border-radius: 5px;
}

/* Style para as páginas secundárias */
#introdução-secundário h1{
    width: 30%;
    margin: auto;
    padding: 2%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: azure;
    border: solid 5px black;
    border-radius: 5px;
}
#corpo-secundário{
    background-color: rgb(214, 233, 250);
    border: solid 5px black;
    border-radius: 5px;
    padding: 5%;
}
#corpo-secundário img{
    border: solid 5px black;
    border-radius: 5px;
}
#imagens-inspirações{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}
#final-secundário{
    padding: 2%;
}

/*Site dos Desenhos */
#primeiro-desenho{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#segundo-desenho{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#terceiro-desenho{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Site dos Vídeo-Games */
#primeiro-jogos{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#segundo-jogos{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#terceiro-jogos{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#quarto-jogos{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

/* Site do Futebol */
#primeiro-futebol{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#segundo-futebol{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#terceiro-futebol{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#quarto-futebol{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#quinto-futebol{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#sexto-futebol{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

/* Site dos animes */
#primeiro-animes{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#segundo-animes{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}